.emoji-data{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    width: 100%;
    justify-content: center;
}
.emoji{
    
    scale: 2;
    margin: 10px;

}
form{
    margin: 15px;
}
